$container:80%;
$height:auto;
$container-fluid:100%;
$text-success:green;
$text-danger:red;
$text-info:blue;
$text-white:white;
$margin-auto:auto;
$bg-secondary:lightgray;
$bg-dark:black;
$bg-white:white;
$padding:10px;
$d-flex:flex;
$flex-direction:row;


body
{
    width: $container;
    background-color: $bg-dark;
    padding: $padding;
}
.section
{
    border: 1px solid;
    width: 35%;
    height: 60vh;
    margin: 20px 0px 0px 40%;
    background-color: #666;
    padding: 0.5%;
    border-radius: 8px;

}
input
{
    width: 97%;
    margin-left: 0.7%;
}
button{
    width: 23%;
    height: 8vh;
    background-color: #fff;
    border-radius: 8px;
    font-size: 16px;

}
#display{
    width: 96%;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 8vh;
    font-size: 25px;
    text-align: right;
}
.part1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#equal{
    margin-top: 0.5%;
    height: auto;
    border: none;
    background-color: red;
    color: #fff;
}